<html>
<head>
    <title>ClassificadosDaTele</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="text-center">
<div class="container">
    <div class="jumbotron mt-3">
        <h1>
            <p>Seja bem vindx </p>
            <p>ao Portal de Vagas de Estágio </p>
            <p>para Curso de Engenharia de Telecomunicações.</p>
        </h1>
        <p class="lead"> O objetivo desse portal é ter num unico lugar as vagas abertas
        <p>de Estágio para o curso de Engenharia de Telecomunicações. </p>
        <p> As vagas aqui compiladas foram extraídas de portais de vagas.</p>

        <a class="btn-lg btn-primary" href="{{ url_for('vagas') }}" role="button">Ver Vagas</a>
    </div>
</div>
<!--- Bootstrap ---->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
